/* GENERAL */
body {
    margin: 0;
    background: #0c0c1d;
    font-family: "Poppins", sans-serif;
    color: white;
}

.layout {
    display: flex;
    height: 100vh;
}

/* COLUMNAS */
.col-izquierda {
    width: 60%;
    padding: 30px;
    overflow-y: auto;
}

.col-derecha {
    width: 40%;
    padding: 30px;
    border-left: 2px solid #2c2c44;
    background: #11112a;
}

.titulo {
    margin-top: 0;
    text-align: center;
}

/* CARD */
.card {
    background: #181830;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

/* INPUTS */
.input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background: #0f0f25;
    color: white;
}
.grande {
    height: 130px;
}

/* BOTONES */
.btn-main-full {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: linear-gradient(to right, #9b5bff, #00b7ff);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn-outline {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #00b7ff;
    background: transparent;
    color: #00b7ff;
    font-weight: bold;
    cursor: pointer;
}

/* PREVIEW */
.preview-container {
    width: 100%;
    height: calc(100vh - 150px);
    border-radius: 15px;
    overflow: hidden;
    background: black;
}

#previewFrame {
    width: 100%;
    height: 100%;
    border: none;
}

/* LOADING */
.loading {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.loading.hidden {
    display: none;
}
.loader {
    width: 28px;
    height: 28px;
    border: 4px solid transparent;
    border-top: 4px solid #bb00ff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}







